{% extends 'base.html' %}
{% load static %}

{% block body_class %}page-markets{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/markets.css' %}">

    <div class="page-introduction"></div>

    <!-- Link to your external JavaScript file -->
    <script src="{% static 'js/typing_effect.js' %}"></script>

    <div id="sticky-nav">
        <span id="hierarchy-text"></span> <!-- This span will display the hierarchy text -->
        <span class="menu-arrow">&#9662;</span> <!-- Arrow symbol (▼) -->
        <div class="dropdown-menu" id="dropdown-menu">
        </div>
    </div>

    <!-- Main Content Structure with clear section hierarchy -->
    <section id="equities" class="main-section">
    <h1 class="section-title">Equities</h1>

        <div id="all-countries" class="sub-section">
            <h2 class="sub-section-title">All Countries</h2>
            <div id="content-wrapper">

                <div id="map-wrapper">
                    <div id="map-container"></div> <!-- Div for the map -->
                    <div id="tooltip"></div> <!-- Tooltip for hover information -->
                    <div id="legend-container"></div> <!-- Legend for performance colors -->
                </div>

                <div id="all-countries-performance-wrapper">
                    <div class="centered-title">Top Gainers/Losers<br><br><span class="subtitle">By Countries & Regions</span></div>
                    <div id="content-wrapper">
                        <div id="performance-chart1"></div>
                        <div id="performance-chart2"></div>
                    </div>
                </div>
                
                <!-- Tooltip for the bars -->
                <div id="bar-tooltip"></div>
            
            </div>
        </div>
        
        <div id="all-sectors" class="sub-section">
            <h2 class="sub-section-title">All Sectors</h2>
            <div class="filler"></div>
        </div>

        <div id="america" class="sub-section">
            <h2 class="sub-section-title">America</h2>
            <div id="north-america">
                <h3>North America</h3>
                <div class="filler"></div>
            </div>
            <div id="south-america">
                <h3>South America</h3>
            </div>
        </div>

        <div id="europe" class="sub-section">
            <h2 class="sub-section-title">Europe</h2>
            <div id="western-europe">
                <h3>Western Europe</h3>
                <div class="filler"></div>
            </div>
            <div id="northern-europe">
                <h3>Northern Europe</h3>
            </div>
            <div id="southern-europe">
                <h3>Southern Europe</h3>
            </div>
            <div id="cee-europe">
                <h3>CEE Europe</h3>
            </div>
            <!-- More subsections here -->
        </div>
</section>

<section id="bonds" class="main-section">
    <h1 class="section-title">Bonds</h1>
    <!-- Bonds content goes here -->
    <div class="filler"></div>
</section>

<section id="forex" class="main-section">
    <h1 class="section-title">Forex</h1>
    <!-- Forex content goes here -->
     <div class="filler"></div>
</section>

<section id="commodities" class="main-section">
    <h1 class="section-title">Commodities</h1>
    <!-- Commodities content goes here -->
     <div class="filler"></div>
</section>

<section id="cryptocurrencies" class="main-section">
    <h1 class="section-title">Cryptocurrencies</h1>
    <!-- Cryptocurrencies content goes here -->
     <div class="filler"></div>
</section>

    <!-- Link to external JavaScript file -->
    <script src="{% static 'js/markets_sticky_ribbon.js' %}"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script> <!-- Load D3.js -->
    <script src="{% static 'js/markets_map.js' %}"></script> <!-- Include your JavaScript file -->
{% endblock %}
