/******************************************************/
/* Body */
/******************************************************/

/* Link to Google Fonts for Courier Prime */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  background-color: #171717;
  color: #ffffff;
  font-family: 'Courier Prime', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  margin: 0;
  transition: 0ms;
}

/******************************************************/
/* Menu */
/******************************************************/

.menu {
  display: flex;
  gap: 30px; /* Adjust gap for more space between items */
  margin-top: 20px; /* Add space from the top */
  font-size: 1.2rem;
}

.menu-item a {
  text-decoration: none;
  cursor: pointer;
  padding: 3px 3px;
}

/* Individual color styling for each menu item */
.equities a {
  color: #ff00f1; /* Purple */
  opacity: 70%;
}

.markets a {
  color: #00ff00; /* Green */
  opacity: 70%;
}

.about a {
  color: #e8eaeb; /* White */
  opacity: 70%;
}

/* Predictor button with yellow outline */
.predictor a {
  color: #fff800; /* Yellow text */
  border: 1px solid #fff800;
  padding: 3px 8px;
  border-radius: 2px;
  margin-left: 80px;
  padding: 3px 8px;
  opacity: 90%;
}

.menu-item a:hover {
  text-decoration: none;
}

/* Hover effect for Predictor button */
.predictor a:hover {
  background-color: #fff800;  /* Yellow background on hover */
  color: black;               /* Black text on hover */
  text-decoration: none;      /* No underline on hover for Predictor */
}

/* Active menu item (current page) */
.menu-item.active a {
  opacity: 100%;
}

/* Hover effect for Predictor button */
.predictor.active a {
  background-color: #fff800;  /* Yellow background on hover */
  color: black;               /* Black text on hover */
  text-decoration: none;      /* No underline on hover for Predictor */
}

/******************************************************/
/* xxx */
/******************************************************/

/* Main content styling */
main {
  text-align: left;
  margin-top: 30px;
}

h1 {
  font-size: 1.5rem;
  color: #ffffff;
}

p {
  color: #888888;
  font-size: 1rem;
}
