{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stock Price Predictor{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>

<!-- load history chart to speed up-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{% static 'js/typing.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<body class="{% block body_class %}{% endblock %}">
    <header class="header">
        <nav class="menu">
            <span class="menu-item history {% if request.resolver_match.url_name == 'history' %}active{% endif %}">
                <a href="{% url 'history' %}" data-transition>History</a>
            </span>
            <span class="menu-item momentum {% if request.resolver_match.url_name == 'momentum' %}active{% endif %}">
                <a href="{% url 'momentum' %}" data-transition>Momentum</a>
            </span>
            <span class="menu-item forecasts {% if request.resolver_match.url_name == 'forecasts' %}active{% endif %}">
                <a href="{% url 'forecasts' %}" data-transition>Forecasts</a>
            </span>
        </nav>
    </header>

    <main class="content-wrapper">
        {% block content %}{% endblock %}
    </main>


<footer class="site-footer">
  <div class="footer-links">
    <a href="{% url 'who_we_are' %}" class="footer-link">Markets Since 1998</a>
    <span class="divider">|</span>
    <a href="{% url 'disclaimer' %}" class="footer-link">Disclaimer</a>
    <span class="divider">|</span>
    <a href="{% url 'disclaimer' %}" class="footer-link">Privacy</a>
    <span class="divider">|</span>
    <a href="{% url 'disclaimer' %}" class="footer-link">Terms</a>
    <span class="divider">|</span>
    <a href="{% url 'disclaimer' %}" class="footer-link">Contact</a>
  </div>

  <div class="footer-bottom">
    <p>© {{ current_year }}</p>
  </div>
</footer>

    <!-- Always go the top of the page when refreshed-->
    <script>
        window.onbeforeunload = function () {
            window.scrollTo(0, 0);
        };
    </script>
    <script src="{% static 'js/page_transition.js' %}"></script>
    <script>
    window.addEventListener("pageshow", function (event) {
        // If page was restored from back/forward cache,
        // reset opacity & transform immediately
        if (event.persisted) {
            document.body.style.opacity = "1";
            document.body.style.transform = "none";
        }
    });
    </script>

</body>
</html>