{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stock Price Predictor{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="menu">
        <span class="menu-item equities {% if request.resolver_match.url_name == 'equities' %}active{% endif %}">
            <a href="{% url 'equities' %}">Equities</a>
        </span>
        <span class="menu-item markets {% if request.resolver_match.url_name == 'markets' %}active{% endif %}">
            <a href="{% url 'markets' %}">Markets</a>
        </span>
        <span class="menu-item about {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
            <a href="{% url 'about' %}">About</a>
        </span>
        <span class="menu-item predictor {% if request.resolver_match.url_name == 'predictor' %}active{% endif %}">
            <a href="{% url 'predictor' %}">Predictor</a>
        </span>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>