{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stock Price Predictor{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<!-- load history chart to speed up-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{% static 'js/typing.js' %}"></script>

<body class="{% block body_class %}{% endblock %}">
    <header class="header">
        <nav class="menu">
            <span class="menu-item history {% if request.resolver_match.url_name == 'history' %}active{% endif %}">
                <a href="{% url 'history' %}">History</a>
            </span>
            <span class="menu-item markets {% if request.resolver_match.url_name == 'markets' %}active{% endif %}">
                <a href="{% url 'markets' %}">Markets</a>
            </span>
            <span class="menu-item predictor {% if request.resolver_match.url_name == 'predictor' %}active{% endif %}">
                <a href="{% url 'predictor' %}">Predictor</a>
            </span>
        </nav>
    </header>

    <main class="content-wrapper">
        {% block content %}{% endblock %}
    </main>


<footer class="site-footer">
  <div class="footer-links">
    <a href="{% url 'who_we_are' %}" class="footer-link">Who We Are</a>
    <span class="divider">|</span>
    <a href="{% url 'disclaimer' %}" class="footer-link">Disclaimer</a>
  </div>

  <div class="footer-bottom">
    <p>{{ current_year }}</p>
  </div>
</footer>

    <!-- Always go the top of the page when refreshed-->
    <script>
        window.onbeforeunload = function () {
            window.scrollTo(0, 0);
        };
    </script>
</body>
</html>